<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=DESKTOP-53A5H27\LOCALSERVER; Initial Catalog=SampleDb; Encrypt=False;user id=sa;password=Admin@123; Connection Timeout=60" />
	</connectionStrings>

	<appSettings>
		<add key="APIKey" value="a43f6670-9d37-11e7-ad9d-819a9b28ee42"/>
		<add key="BaseAddress" value="https://localhost:44307"/>
	</appSettings>
</configuration>